<div class="page-header">
  <h1>
    Alumnus and Current Students Directory
    <% if current_user.present? && current_user.admin == true %><a href="/alumnis/new" class="btn btn-sm btn-danger" style="float:right;">Add New Alumni</a><% end %>
  </h1>
</div>


<form class="form-inline">
<%= search_form_for @q do |f| %>
  <p class="lead">Search by:</p>
  <!-- <div class="form-group">
    <%= f.label :name_or_user_type_or_past_employers_cont, "Search by name" %>
    <%= f.text_field :name_or_user_type_or_past_employers_cont, :class => "form-control", :placeholder => "Enter" %>
  </div> -->

  <div class="form-group">
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Enter a name" %>
  </div>

  <div class="form-group">
    <%= f.label :user_type_cont, "User Type" %>
    <%= f.text_field :user_type_cont, :class => "form-control", :placeholder => "Alumni or Student" %>
  </div>

  <div class="form-group">
    <%= f.label :current_employer_or_past_employers_cont, "Current or Past Employer" %>
    <%= f.text_field :current_employer_or_past_employers_cont, :class => "form-control", :placeholder => "Amazon/BCG etc." %>
  </div>

  <div class="form-group">
    <%= f.label :current_location_cont, "Location" %>
    <%= f.text_field :current_location_cont, :class => "form-control", :placeholder => "City or Country" %>
  </div>

  <div class="form-group">
    <%= f.label :program_cont, "Program Type" %>
    <%= f.text_field :program_cont, :class => "form-control", :placeholder => "Full time/Exsecutive/Evening" %>
  </div>

  <%= f.submit :class => "btn btn-primary" %>

  <a href="/alumnis" class="btn btn-default ">Clear filters</a>
<% end %>
</form>

<hr>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Class of</th>
        <th>User type</th>
        <th width=400>Current employer</th>
        <th  width=400>Past employers</th>
        <th>Current location</th>
        <th>Booth email</th>
        <% if (current_user.present? && (current_user.admin == true || current_user.id == alumni.user_id )) %>
        <th>Other email</th>
        <th>Phone</th>
        <% end %>
        <th>LinkedIn</th>
        <th>Program</th>
        <th>Actions</th>
      </tr>


      <% @alumnis.each do |alumni| %>
      <tr>
        <% if (current_user.present? && (current_user.admin == true || current_user.id == alumni.user_id )) %>
        <style>
        table {
          font-size: 13px;
        }
        </style>
        <td><%= alumni.name %></td>
        <td><%= alumni.classof %></td>
        <td><%= alumni.user_type %></td>
        <td><%= alumni.current_employer %></td>
        <td><%= alumni.past_employers %></td>
        <td><%= alumni.current_location %></td>
        <td><%= alumni.booth_email %></td>
        <td><%= alumni.home_email %></td>
        <td><%= alumni.phone %></td>
        <td><% if alumni.linkedin.present? %>
        <a href="<%= alumni.linkedin %>">
          LinkedIn link</a><% end %></td>
        <td><%= alumni.program %></td>
        <td>
          <a href="/alumnis/<%= alumni.id %>" class="btn btn-primary">Show</a>

          <a href="/alumnis/<%= alumni.id %>/edit" class="btn btn-warning">Edit</a>

          <% if current_user.present? && current_user.admin == true %>
          <a href="/delete_alumni/<%= alumni.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
        <% else %>

        <% if alumni.display_nothing == false || alumni.display_nothing == nil %>
        <td><%= alumni.name %></td>
        <td><%= alumni.classof %></td>
        <td><%= alumni.user_type %></td>
        <td><%= alumni.current_employer %></td>
        <td><%= alumni.past_employers %></td>
        <td><% if alumni.display_location == false || alumni.display_location == nil %>
          <%= alumni.current_location %><% end %></td>
        <td><% if alumni.display_email == false || alumni.display_email == nil %>
          <%= alumni.booth_email %><% end %></td>
        <td><% if alumni.display_linkedin == false || alumni.linkedin.present? %>
        <a href="<%= alumni.linkedin %>">
          LinkedIn</a><% end %></td>
        <td><%= alumni.program %></td>
        <td>
          <a href="/alumnis/<%= alumni.id %>" class="btn btn-primary">Show</a>
        </td>
        <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
