<!-- Validation failure messages -->
<% if @alumni.errors.any? %>
  <% @alumni.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Alumni/Student</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_alumni" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @alumni.user_id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @alumni.name %>">
      </div>

      <!-- Label and input for classof -->
      <div class="form-group">
        <label for="classof" class="control-label">
          Class of
        </label>

        <input type="text" id="classof" name="classof" placeholder="Classof" class="form-control" value="<%= @alumni.classof %>">
      </div>

      <!-- Label and input for user_type -->
      <div class="form-group">
        <label for="user_type" class="control-label">
          User type
        </label>

        <input type="text" id="user_type" name="user_type" placeholder="User type" class="form-control" value="<%= @alumni.user_type %>">
      </div>

      <!-- Label and input for current_employer -->
      <div class="form-group">
        <label for="current_employer" class="control-label">
          Current employer
        </label>

        <input type="text" id="current_employer" name="current_employer" placeholder="Current employer" class="form-control" value="<%= @alumni.current_employer %>">
      </div>

      <!-- Label and input for past_employers -->
      <div class="form-group">
        <label for="past_employers" class="control-label">
          Past employers
        </label>

        <input type="text" id="past_employers" name="past_employers" placeholder="Past employers" class="form-control" value="<%= @alumni.past_employers %>">
      </div>

      <!-- Label and input for current_location -->
      <div class="form-group">
        <label for="current_location" class="control-label">
          Current location
        </label>

        <input type="text" id="current_location" name="current_location" placeholder="Current location" class="form-control" value="<%= @alumni.current_location %>">
      </div>

      <!-- Label and input for booth_email -->
      <div class="form-group">
        <label for="booth_email" class="control-label">
          Booth email
        </label>

        <input type="text" id="booth_email" name="booth_email" placeholder="Booth email" class="form-control" value="<%= @alumni.booth_email %>">
      </div>

      <!-- Label and input for home_email -->
      <div class="form-group">
        <label for="home_email" class="control-label">
          Home email
        </label>

        <input type="text" id="home_email" name="home_email" placeholder="Home email" class="form-control" value="<%= @alumni.home_email %>">
      </div>

      <!-- Label and input for linkedin -->
      <div class="form-group">
        <label for="linkedin" class="control-label">
          Linkedin
        </label>

        <input type="text" id="linkedin" name="linkedin" placeholder="Linkedin" class="form-control" value="<%= @alumni.linkedin %>">
      </div>

      <!-- Label and input for phone -->
      <div class="form-group">
        <label for="phone" class="control-label">
          Phone
        </label>

        <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" value="<%= @alumni.phone %>">
      </div>

      <!-- Label and input for program -->
      <div class="form-group">
        <label for="program" class="control-label">
          Program
        </label>

        <input type="text" id="program" name="program" placeholder="Program" class="form-control" value="<%= @alumni.program %>">
      </div>

      <button class="btn btn-success">
        Create Alumni
      </button>
      or
      <a href="/alumnis">Cancel</a>
    </form>
  </div>
</div>
