<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BoothIsraelWebsite</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>
  /* Only necessary if you are using navbar-fixed-top */
  body {
    padding-top: 60px;
  }

  body { padding-bottom: 70px; }
  </style>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img style="max-width:100px; "   src=  "/assets/Booth_Logo.png" class = "img-responsive" alt="Responsive image"/></a>
        <a href="/" class="navbar-brand">| Booth Israeli Network</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/rankings">Ranks & Reports</a></li>
          <li><a href="/country_captains">Country Captains</a></li>
          <li><a href="/alumnis">Alumnus & Students</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
          <li><a href="/users/sign_in"><%= current_user.email %></a></li>
          <li><a href="/users/sign_out" data-method="delete" rel="nofollow"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
          <% else %>
          <li><a href="/users/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i> Alumni Log-In</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <a href="/rails/info">Sitemap</a>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <il><a href="https://www.facebook.com/chicagoboothbusiness/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></il>
          <il><a href="https://www.linkedin.com/edu/the-university-of-chicago-booth-school-of-business-18315"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></il>
          <il><a href="https://www.chicagobooth.edu/">Official Chicago Booth website</a>
          </il>
        </ul>
      </div>

    </div>
  </nav>


  <div class="container">
    <% if notice.present? %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
    <% end %>

    <% if alert.present? %>
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
